@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}
body{
    background-image: url("./images/Background E-Card.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-x: hidden;
    margin: 0; 
    padding: 0;
}

.image-container {
    position: relative;
    width: fit-content;
    width: 100%;
    background-size: cover; 
    background-attachment: fixed; 
    overflow: hidden;
}

.main-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: 1230px;
    width: 2100px;
    
}

.circle-box {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 270px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.profile-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 270px;
    height: 270px;
  } 
.profile-name {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 150px;
    font-size: 40px;
    margin-top: 38px;
    left: 20px;
    letter-spacing: 1.6px;
    color: white;
}
.job-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 50px;
    font-size: 20px;
    margin-top: 10px;
    left: 31px;
    letter-spacing: .8px;
    color: white;
}
.overlay-grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 25px;
    position: absolute;
    top: 485px; 
    left: 50%; 
    transform: translateX(-20%); 
    width: 80%;
    height: 20%;
    pointer-events: none;
}

.overlay-link {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.overlay {
    width: 120px; 
    height: 120px; 
    opacity: 0.8; 
    align-self: center; 
    justify-self: center; 
    border-radius: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    background-color: white; 
    transition: transform 0.2s;  
}

.overlay:active {
    transform: scale(0.9); 
}

#contact {
    grid-column: 1;
    grid-row: 1;
}

#mail {
    grid-column: 2;
    grid-row: 1;
}

#linkedin {
    grid-column: 3;
    grid-row: 1;
}

.rectangle-box {
    position: absolute;
    top: 615px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px; 
    pointer-events: auto;
}

.arani-logo {
    position: absolute;
    top: 720px; 
    left: 51%;
    transform: translateX(-50%);
    width: 350px; 
    height: auto;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(6, min-content); 
    gap: 3px; 
    position: absolute;
    top: 1150px;
    left: 32%;
    transform: translateX(-50%);
    width: 1px; 
    pointer-events: auto;
}
.icon-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px; 
    height: 75px; 
    pointer-events: auto; 
    overflow: hidden; 
}
.icon-grid img {
    width: 70%; 
    width: 130px;
    height: auto; 
    pointer-events: none;
    
}

.address {
    position: absolute;
    top: 1035px;
    left: 52%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    padding: 10px;
    white-space: pre wrap;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 3px;  
}

/*Responsive Styles*/
@media screen and (max-width: 1280px) { /* 1280x720*/
    body {
        display: block;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
    .image-container{
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .main-image{
        display: block;
        width: 1280px;
        height: 1300px;
        object-fit: cover;
    }
    .circle-box {
        top: 20px; 
        left: 50%;
        width: 240px;
        height: 240px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 240px;
        height: 240px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 35px;
        margin-top: 38px;
        left: 7%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 18px;
        margin-top: 10px;
        left: 9%;
        letter-spacing: 1px;
        color: white;
    }

.overlay-grid {
    grid-template-columns: repeat(3, min-content);
    gap: 20px;
    top: 400px;
    left: 51%;
    transform: translateX(-50%);
    width: 110%; 
    max-width: 400px; 
    height: 20%;
    pointer-events: none;
}
.overlay-link {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.overlay {
    width: 110px;
    height: 110px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.rectangle-box {
    top: 540px; 
    left: 50%;
    width: 90%;
    width: 790px;
    height: 160px;
    border-radius: 20px; 
}

.arani-logo {
    top: 660px; 
    left: 50%;
    width: 400px;
}

.icon-grid {
    grid-template-columns: repeat(6, min-content); 
    left: 33%;
    gap: 5px; 
    top: 1210px;
}

.icon-grid a {
    width: 70px; 
    height: 70px;
}
.icon-grid img {
    width: 70%; 
    width: 160px;
    height: auto; 
    pointer-events: none;
    
}
.address {
    top: 1030px; 
    left: 51%;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}

}

@media screen and (max-width: 1080px) { /* 1080x2400 */
    body {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .image-container {
        position: absolute;
        width: 100%;  
        width: 1080px;
        margin: 0; 
        padding: 0; 
        overflow: hidden; 
        background-size: cover; 
        background-attachment: fixed; 
    }
    .main-image {
        display: flex;
        width: 1080px; 
        height: 2400px; 
        margin: 0; 
        padding: 0; 
        object-fit: cover;
    }
    .circle-box {
        top: 70px; 
        left: 50%;
        width: 600px;
        height: 600px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 600px;
        height: 600px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 100px;
        margin-top: 38px;
        left: 3%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 50px;
        margin-top: 10px;
        left: 7%;
        letter-spacing: 1px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 25px;
        top: 830px;
        left: 42%;
        transform: translateX(-50%);
        width: 110%; 
        max-width: 400px; 
        height: 20%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 170px;
        height: 170px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 1200px; 
        left: 50%;
        width: 90%;
        width: 870px;
        height: 240px;
        border-radius: 20px; 
    }
    .arani-logo {
        top: 1400px; 
        left: 50%;
        width: 630px;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 28%;
        gap: 7px; 
        top: 2250px;
    }

    .icon-grid a {
        width: 75px; 
        height: 75px;
    }
    .icon-grid img {
        width: 70%; 
        width: 200px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 2000px; 
        left: 51%;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 40px;
    }
}

@media screen and (max-width: 430px) { /* 430x932*/
    body {
        display: block;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .image-container {
        position: absolute;
        width: 100%;  
        margin: 0; 
        padding: 0; 
        overflow: hidden; 
        background-size: cover; 
        background-attachment: fixed; 
    }
    .main-image {
        display: block;
        width: 430px; 
        height: 932px; 
        width: 100%;
        margin: 0; 
        padding: 0; 
    }
    .circle-box {
        top: 25px; 
        left: 50%;
        width: 210px;
        height: 210px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 210px;
        height: 210px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 30px;
        margin-top: 35px;
        left: 4%;
        letter-spacing: 1.9px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 16px;
        margin-top: 10px;
        left: 5%;
        letter-spacing: 1px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 12px;
        top: 330px;
        left: 53%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 300px; 
        height: 20%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 82px;
        height: 82px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 480px; 
        left: 50%;
        width: 90%;
        width: 370px;
        height: 120px;
        border-radius: 20px; 
    }
    
    .arani-logo {
        top: 590px; 
        left: 50%;
        width: 180px;
        height: auto;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 15%;
        gap: 3px; 
        top: 860px;
    }

    .icon-grid a {
        width: 48px; 
        height: 48px; 
    }
    .icon-grid img {
        width: 60%; 
        width: 120px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 755px; 
        left: 51%;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 22px;
    }  
}

@media screen and (max-width: 414px) { /* 414x896 */
    body {
        display: block;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
    }
    .image-container {
        position: absolute;
        width: 100%; 
        width: 414px; 
        margin: 0; 
        padding: 0; 
        overflow: hidden; 
        background-size: cover; 
        background-attachment: fixed; 
    }
    .main-image {
        display: block;
        width: 414px; 
        height: 896px; 
        width: 100%;
        margin: 0; 
        padding: 0; 
    }
    .circle-box {
        top: 20px; 
        left: 50%;
        width: 220px;
        height: 220px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 220px;
        height: 220px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 28px;
        margin-top: 35px;
        left: 10%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 17px;
        margin-top: 10px;
        left: 8%;
        letter-spacing: .4px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 12px;
        top: 330px;
        left: 55%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 400px; 
        height: 20%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 88px;
        height: 88px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 478px; 
        left: 50%;
        width: 90%;
        width: 370px;
        height: 100px;
        border-radius: 20px; 
    }
    
    .arani-logo {
        top: 560px; 
        left: 50%;
        width: 183px;
        height: auto;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 12%;
        gap: 3px; 
        top: 840px;
    }

    .icon-grid a {
        width: 49px; 
        height: 49px; 
    }
    .icon-grid img {
        width: 50%; 
        width: 130px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 729px; 
        left: 50%;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 20px;
    }
}
@media screen and (max-width: 412px) { /* 412x915 */
    body {
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .image-container {
        position: absolute;
        width: 100%;  
        margin: 0; 
        padding: 0; 
        overflow: hidden; 
        background-size: cover; 
        background-attachment: fixed; 
    }
    .main-image {
        display: block;
        width: 430px; 
        height: 915px; 
        width: 100%;
        margin: 0; 
        padding: 0; 
    }
    .circle-box {
        top: 25px; 
        left: 51%;
        width: 210px;
        height: 210px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 210px;
        height: 210px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 30px;
        margin-top: 35px;
        left: 3%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 14px;
        margin-top: 10px;
        left: 11%;
        letter-spacing: .5px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 12px;
        top: 330px;
        left: 52%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 300px; 
        height: 20%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 85px;
        height: 85px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 480px; 
        left: 50%;
        width: 90%;
        width: 350px;
        height: 120px;
        border-radius: 20px; 
    }
    
    .arani-logo {
        top: 590px; 
        left: 50%;
        width: 180px;
        height: auto;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 12%;
        gap: 3px; 
        top: 850px;
    }

    .icon-grid a {
        width: 48px; 
        height: 48px; 
    }
    .icon-grid img {
        width: 60%; 
        width: 120px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 755px; 
        left: 50%;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 17px;
    }  
}

@media screen and (max-width: 390px) { /* 390x844 */
    body {
        display: block;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
        
    }
    .image-container {
        position: absolute;
        margin: 0; 
        padding: 0; 
        overflow: hidden;
    }
    .main-image {
        display: block;
        width: 390px; 
        height: 844px; 
        width: 100%;
        margin: 0; 
        padding: 0; 
    }
    .circle-box {
        top: 15px; 
        left: 50%;
        width: 200px;
        height: 200px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 30px;
        margin-top: 25px;
        left: 1%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 16px;
        margin-top: 5px;
        left: 0%;
        letter-spacing: .5px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 10px;
        top: 325px;
        left: 63%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 400px; 
        height: 10%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 62px;
        height: 62px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 410px; 
        left: 50%;
        width: 325px;
        height: 92px;
        border-radius: 20px; 
    }
    
    .arani-logo {
        top: 490px; 
        left: 50%;
        width: 200px;
        height: 200px;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 22%;
        gap: 1px; 
        top: 800px;
    }

    .icon-grid a {
        width: 36px; 
        height: 36px; 
    }
    .icon-grid img {
        width: 60%; 
        width: 100px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 683px; 
        left: 50%;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 25px;
    }
    
}

@media screen and (max-width: 360px) { /* 360x640 */
    body {
        display: block;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    .image-container {
        position: absolute;
        width: 360px;
        margin: 0; 
        padding: 0;
        overflow: hidden;
        background-size: cover; 
        background-attachment: fixed; 
    }
    .main-image {
        display: block;
        width: 360px; 
        height: 640px; 
        width: 100%;
        margin: 0; 
        padding: 0; 
    }
    .circle-box {
        top: 10px; 
        left: 51%;
        width: 160px;
        height: 160px;
    }
    .profile-image{
        display: inline-block;
        border-radius: 51%;
        overflow: hidden;
        width: 160px;
        height: 160px;
        top: 20px;
      } 
    .profile-name {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 150px;
        font-size: 22px;
        margin-top: 17px;
        left: 3%;
        letter-spacing: 1.8px;
        color: white;
    }
    .job-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 50px;
        font-size: 12px;
        margin-top: 5px;
        left: 6%;
        letter-spacing: .5px;
        color: white;
    }
    .overlay-grid {
        grid-template-columns: repeat(3, min-content);
        gap: 10px;
        top: 255px;
        left: 63%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 400px; 
        height: 10%;
        pointer-events: none;
    }
    .overlay-link {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
    }

    .overlay {
        width: 58px;
        height: 58px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }

    .rectangle-box {
        top: 325px; 
        left: 50%;
        width: 320px;
        height: 78px;
        border-radius: 20px; 
    }

    .arani-logo {
        top: 390px; 
        left: 51%;
        width: 150px;
        height: 150px;
    }

    .icon-grid {
        grid-template-columns: repeat(6, min-content); 
        left: 22%;
        gap: 1px; 
        top: 605px;
    }

    .icon-grid a {
        width: 32px; 
        height: 32px; 
    }
    .icon-grid img {
        width: 60%; 
        width: 80px;
        height: auto; 
        pointer-events: none;
        
    }
    .address {
        top: 526px; 
        left: 51%;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
    }
}




